{# Menu - header avec navigation et panier #}
{% block css %}
    <link rel="stylesheet" media="screen" type="text/css" title="default" href="{{ asset('css/menu.css') }}" />
{% endblock %}

<nav class="menu">

    <ul class="menu-links">
        <li><a href="/">Accueil</a></li>

        {% if app.user %}
            <li><a href="/profile#">Votre profil</a></li>

            {% if is_granted('ROLE_ADMIN') and not is_granted('ROLE_SUPER_ADMIN') %}
                <li><a href="{{ path('admin_users') }}">Gérer les utilisateurs</a></li>
            {% endif %}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('admin_add_admin') }}">Ajouter un administrateur</a>
            {% endif %}

            {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                <li><a href="/products">Nos Produits</a></li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="https://fr.wikipedia.org/wiki/Mass_Effect">Mass Effect</a></li>
            {% endif %}
            <a href="{{ path('user_logout') }}">Se déconnecter</a>
        {% else %}
            <li><a href="{{ path('user_login') }}">Se connecter</a></li>
            <li><a href="{{ path('user_register') }}">Créer un compte</a></li>
        {% endif %}
    </ul>

    {% if app.user and is_granted('ROLE_USER') %}
        <div class="cart">

            <a href="/cart">
                <img src="{{ asset('images/cart.svg') }}" alt="panier">
            </a>

            {% set totalItems = cart_count() %}

            {% if totalItems > 0 %}
                <span class="cart-count">{{ totalItems }}</span>
            {% endif %}

        </div>
    {% endif %}

</nav>

