{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

{% include 'Layouts/_menu.html.twig' %}

<h1>Profil Utilisateur</h1>

{% if app.user %}
    <p>Connecté en tant que : {{ app.user.login }}</p>

    <ul>
        <li>ID : {{ app.user.id }}</li>
        <li>Nom : {{ app.user.name }}</li>
        <li>Prénom : {{ app.user.surname }}</li>
        <li>Date de naissance : {{ app.user.birthdate|date('d/m/Y') }}</li>
    </ul>

    <a href="{{ path('user_edit', {id: app.user.id}) }}">Modifier mes informations</a>
    <br>
    <a href="{{ path('user_logout') }}">Se déconnecter</a>

{% else %}
    <p>Vous n'êtes pas connecté</p>

    <a href="{{ path('user_login') }}">Se connecter</a>
{% endif %}

{% endblock %}